.contactsSection {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
}

.glow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: radial-gradient(
    circle at center,
    var(--accent) 0%,
    transparent 80%
  );
  background-size: 100%;
  opacity: 0.25;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: flex-start;
}

.topInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  text-transform: uppercase;
}

.divider {
  background-image: linear-gradient(
    to right,
    var(--secondary-back),
    var(--accent),
    var(--secondary-back)
  );
  width: 100%;
  border: 0;
  height: 1px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  gap: 32px;
}
.formContainer {
  width: 100%;
}

.contactsContaner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.contacts {
  background-color: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  height: auto;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.contactsItem,
.contact {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.contactIcon {
  fill: var(--icon);
}

.socials {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  height: auto;
}

.soacialsList {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.socialsItem {
  background-color: var(--accent);
  padding: 8px;
  border-radius: 4px;
  width: 46px;
  height: 46px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  fill: var(--primary-btn-text);
}

@media only screen and (min-width: 768px) {
  .contactsSection {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .glow {
    background-image: radial-gradient(
      circle at center,
      var(--accent) 0%,
      transparent 45%
    );
  }
  .contentWrapper {
    gap: 40px;
  }
  .contactsContaner {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .socials {
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;
  }

  .contacts {
    width: 60%;
  }
}

@media only screen and (min-width: 1440px) {
  .contactsSection {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .contentWrapper {
    flex-direction: row;
    gap: 60px;
  }
  .contactsContaner {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .formContainer {
    width: 100%;
  }

  .socials {
    align-items: center;
  }
}
