.linkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: var(--font-roboto-mono);
  font-weight: 600;
  font-size: 18px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  padding: 12px;
  letter-spacing: -0.01em;
  -webkit-tap-highlight-color: transparent;
}

.linkButton:focus,
.linkButton:focus-visible {
  outline: none;
}

.primary {
  background-color: var(--primary-btn);
  color: var(--primary-btn-text);
  border: 1px solid transparent;
  transition: background-color var(--transition);
}

.primary:focus-visible,
.primary:active {
  outline: none;
  background-color: var(--hover-primary-btn);
}

.secondary {
  background-color: var(--secondary-btn);
  color: var(--secondary-btn-text);
  border: 1px solid var(--secondary-back-border);
  transition: border-color var(--transition);
}

.secondary:focus-visible,
.secondary:active {
  outline: none;
  border-color: var(--hover-secondary-back-border);
}

@media (hover: hover) and (pointer: fine) {
  .primary:hover {
    background-color: var(--hover-primary-btn);
  }

  .secondary:hover {
    border-color: var(--hover-secondary-back-border);
  }
}

@media only screen and (min-width: 768px) {
  .linkButton {
    width: fit-content;
    min-width: 220px;
  }
}
