.ongloingSection {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-secondary);

  width: 100%;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  text-transform: uppercase;
  align-self: center;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cardAndLearning {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}

.imageContainer {
  border-radius: 4px 4px 0 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  overflow: hidden;
}

.projectImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  padding-top: 0;
}
.topWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
}

.divider {
  background-image: linear-gradient(
    to right,
    var(--secondary-back),
    var(--accent),
    var(--secondary-back)
  );
  width: 100%;
  border: 0;
  height: 1px;
}

.description {
  font-weight: 500;
}

.goalsList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 18px;
}

.goalLabel {
  text-transform: uppercase;
  opacity: 0.7;
}

.tagList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
}

.btnLInk {
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.learning {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.learningCard {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  border-radius: 4px;
  width: 100%;
  padding: 24px;
  height: auto;
}

.techWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.techIcon {
  fill: var(--primary-btn);
}

.projectsSwiper {
  width: 100%;
}

.projectsSwiper :global(.swiper-wrapper) {
  align-items: stretch;
}

.projectsSwiper .projectSlide {
  height: auto;
  display: flex;
}

.projectsSwiper .projectSlide > article {
  flex: 1;
}

.sliderControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 18px;
  width: 100%;
  z-index: 2;
}

.navButton {
  background-color: var(--highlight);
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 4px;
  background-blend-mode: multiply;
}

@media only screen and (min-width: 768px) {
  .ongloingSection {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .sectionWrapper {
    gap: 40px;
  }

  .cardAndLearning {
    gap: 40px;
  }

  .projectCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .imageContainer {
    height: 100%;
    border-right: 1px solid var(--border);
    border-bottom: none;
    border-radius: 4px 0 0 4px;
  }

  .contentWrapper {
    align-items: stretch;
    padding-top: 24px;
  }

  .btn {
    width: 220px;
  }

  .learning {
    flex-direction: row;
    gap: 32px;
  }

  .learningCard {
    height: 275px;
  }
}

@media only screen and (min-width: 1440px) {
  .ongloingSection {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .cardAndLearning {
    gap: 60px;
    width: 100%;
    align-items: flex-start;
  }

  .top {
    align-self: flex-start;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    flex: 1;
  }

  .imageContainer {
    border-bottom: 1px solid var(--border);
    border-right: none;
    border-radius: 4px 4px 0 0;
    aspect-ratio: 16/9;
    height: auto;
  }

  .learning {
    flex-direction: column;
    width: 50%;
  }

  .learningCard {
    height: auto;
  }

  .description {
    align-self: flex-start;
  }
}
