.ongloingSection {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-secondary);
  width: 100%;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  text-transform: uppercase;
  align-self: center;
  text-align: center;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cardAndLearning {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.galleryBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.imageContainer {
  border-radius: 4px 4px 0 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  overflow: hidden;
}

.gallery {
  width: 100%;
  height: 100%;
}

.gallery .image {
  height: auto;
  display: flex;
}

.sliderControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: 100%;
}

.projectImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.divider {
  background-image: linear-gradient(
    to right,
    var(--secondary-back),
    var(--accent),
    var(--secondary-back)
  );
  width: 100%;
  border: 0;
  height: 1px;
}

.description {
  font-weight: 500;
}

.longDescription,
.roleList {
  display: none;
}

.goalsList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 18px;
}

.goalLabel {
  text-transform: uppercase;
  opacity: 0.7;
}

.tagList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.btnLink {
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.learning {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.learningCards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.learningCard {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  border-radius: 4px;
  width: 100%;
  padding: 24px;
  height: auto;
}

.techWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.techIcon {
  fill: var(--primary-btn);
}

.navButton {
  background-color: var(--highlight);
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 4px;
  background-blend-mode: multiply;
}

.gitIcon {
  fill: var(--primary-btn-text);
}

@media only screen and (min-width: 768px) {
  .ongloingSection {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .sectionWrapper {
    gap: 40px;
  }

  .projectCard {
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }

  .galleryBlock {
    width: 50%;
    justify-content: space-between;
    min-height: 540px;
  }

  .imageContainer {
    height: 100%;
    aspect-ratio: 2/2.5;
  }

  .contentWrapper {
    width: 50%;
    justify-content: space-between;
    min-height: 540px;
  }

  .buttons {
    flex-direction: row;
  }

  .btn {
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
  }

  .learning {
    gap: 32px;
  }
  .learningCards {
    flex-direction: row;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .ongloingSection {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .cardAndLearning {
    gap: 60px;
    width: 100%;
    align-items: flex-start;
  }

  .projectCard {
    align-items: stretch;
  }

  .top {
    align-self: flex-start;
  }

  .galleryBlock {
    justify-content: flex-start;
  }

  .imageContainer {
    aspect-ratio: 1 / 1;
  }

  .contentWrapper {
    min-height: 100%;
    justify-content: center;
  }

  .longDescription {
    display: block;
  }

  .roleList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .roleItem {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .iconBullet {
    fill: var(--primary-btn);
    flex-shrink: 0;
  }

  .learning {
    flex-direction: column;
  }

  .learningCard {
    height: auto;
  }

  .description {
    align-self: flex-start;
  }

  .btn {
    font-size: 18px;
  }
}
