.projects {
  background-color: var(--background-secondary);
  width: 100%;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  text-transform: uppercase;
  align-self: center;
}
