.skillsSection {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sectionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.glow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image:
    radial-gradient(circle at top left, var(--accent) 0%, transparent 45%),
    radial-gradient(circle at bottom right, var(--accent) 0%, transparent 45%);
  background-size: 100%;
  opacity: 0.25;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  align-self: center;
}

.skillsGridWrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 18px;
  align-items: stretch;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  border-radius: 4px;
  padding: 12px 24px 24px 24px;
}

.subheadingWrapper {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divider {
  background-image: linear-gradient(
    to right,
    var(--secondary-back),
    var(--accent),
    var(--secondary-back)
  );
  width: 100%;
  border: 0;
  height: 1px;
}

.subheading {
  font-size: 24px;
}
.skillsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.skillsListItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.skillIcon {
  fill: var(--primary-btn);
  flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
  .sectionWrapper {
    padding-top: 90px;
    padding-bottom: 90px;
    gap: 40px;
  }

  .skillsGridWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  .listWrapper {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .sectionWrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .skillsGridWrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;
  }
}
