.projectCard {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  height: 100%;
  background-color: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  border-radius: 4px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--border);
  width: 100%;
  aspect-ratio: 16 / 10;
  display: block;
  overflow: hidden;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.label {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 2;
  font-size: 14px;
  background-color: var(--accent);
  border: 1px solid var(--secondary-back-border);
  padding: 4px 8px;
  border-radius: 50px;
  box-shadow: 0 2px 2px var(--highlight);
  color: var(--primary-btn-text);
}

.iconsWrapper {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 2;
  display: flex;
  gap: 10px;
  align-items: center;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  background-color: var(--secondary-back);
  border: 1px solid var(--secondary-back-border);
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0 2px 2px var(--highlight);
  transition:
    backround-color var(--transition),
    fill var(--transition);
}

.icon {
  fill: var(--icon);
}

.iconLink:focus-visible,
.iconLink:active {
  background-color: var(--hover-primary-btn);
  outline: none;
}

.projectInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px;
  flex-grow: 1;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 12px;
  row-gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
}

.heading {
  font-size: 24px;
}

.buttonsWrapper {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.btn {
  width: 100%;
}

.iconLink:focus-visible .icon,
.iconLink:active .icon {
  fill: var(--primary-btn-text);
}

@media (hover: hover) and (pointer: fine) {
  .iconLink:hover {
    background-color: var(--hover-primary-btn);
    fill: var(--secondary-btn-text);
  }
}

@media only screen and (min-width: 1440px) {
  .projectCard {
    max-width: 500px;
  }

  .iconLink:hover .icon {
    fill: var(--primary-btn-text);
  }
}
