.header {
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: var(--header);
  backdrop-filter: blur(2.5px);
  border-bottom: 1px solid var(--secondary-btn-border);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.logo {
  color: var(--accent);
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.link {
  font-family: var(--font-roboto-mono);
  font-size: 20px;
  color: var(--accent);
  font-weight: 500;
}

.link:hover,
.link:focus-visible {
  color: var(--small-accent);
}

.themeButton {
}

.themeIcon {
}
