.header {
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 95%;
  margin: 0 auto;
  background: var(--header);
  backdrop-filter: blur(2.5px);
  border: 1px solid var(--secondary-btn-border);
  border-radius: 25px;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.desktopNav {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.logo {
  color: var(--nav-link);
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.04em;
  transition: color var(--transition);
}

.logo:hover,
.logo:focus-visible {
  color: var(--nav-link-hover);
}

.navLink {
  font-family: var(--font-roboto-mono);
  font-size: 20px;
  color: var(--nav-link);
  font-weight: 500;

  padding-top: 10px;
  padding-bottom: 10px;
  transition:
    border-color var(--transition),
    color var(--transition);
}

.navLink:focus-visible {
  color: var(--nav-link-hover);
  border-bottom: 1px solid var(--nav-link-hover);
}

.themeButton.themeButton {
  background-color: transparent;
  border: 1px solid var(--foreground);
  border-radius: 4px;
  transition:
    background-color 0.35s ease-in-out,
    border-color 0.35s ease-in-out,
    transform var(--transition);
}

.themeButton .themeIcon {
  fill: var(--foreground);
}

.themeButton.themeButton:focus-visible {
  background-color: var(--accent);
  border: 1px solid transparent;
}

@media (hover: hover) and (pointer: fine) {
  .navLink:hover {
    color: var(--nav-link-hover);
    border-bottom: 1px solid var(--nav-link-hover);
  }

  .themeButton.themeButton:hover {
    background-color: var(--foreground);
    border: 1px solid transparent;
    transform: rotate(0.5turn);
  }

  .themeButton:hover .themeIcon {
    fill: var(--background);
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
}
